<h1>Dashboard</h1>
<div class="row">
  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">
        <h5 class="card-title">Cursos</h5>
        <p class="card-text"><%= @courses_count %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-success mb-3">
      <div class="card-body">
        <h5 class="card-title">Vendas</h5>
        <p class="card-text"><%= @total_sales %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <h5 class="card-title">Receita (R$)</h5>
        <p class="card-text"><%= number_to_currency(@total_revenue, unit: 'R$') %></p>
      </div>
    </div>
  </div>
</div>